.dropdown-menu {
  position: relative;
  .dropdown-content {
    position: absolute;
    background-color: var(--white);
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.18);
    border-radius: 12px;
    padding: 5px;
    // width: 280px;
    top: 10px;
    right: 11px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8) translateZ(0px);
    transform-origin: top right;
    transition: all 0.15s linear;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}
