.tableContainer {
  box-shadow: 0 10px 30px rgba(16, 4, 74, 0.05);
  background-color: var(--white);
  border-radius: 15px;
  border: 1px solid #5a7cf140;

  > div {
    padding: 20px 30px;
    display: flex;

    label {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #5a7cf1;
    }
  }

  table {
    width: 100%;
    min-height: 200px;
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;

    .loader {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(1px);
      background-color: #fff9;
      font-size: 14px;
      color: var(--placeholder-color);
    }

    .table-header {
      background-color: #5a7cf120;
      border-top: 1px solid #5a7cf140;

      .title {
        text-align: center;
        padding: 17px;
        color: var(--primary-color);
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    .table-body {
      .data-row {
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
        border-top: 1px solid var(--primary-color-20);

        .data {
          padding: 20px 10px;
          font-size: 16px;
          color: var(--primary-color);
          font-weight: 300;
          text-align: center;

          svg {
            cursor: pointer;
          }

          a {
            color: var(--primary-color);
            font-weight: 500;
          }
        }
      }

      button:not([role="switch"]) {
        height: 35px;
        padding: 0 20px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        background-color: var(--primary-color-20);
        color: var(--primary-dark-color);
        cursor: pointer;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

.blank-data-tag {
  text-align: center;
  margin: 20px 0 30px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #aaa;
}
