:root {
  //------------COLORS------------//
  --primary-color: #1b254b;
  --primary-color-90: #1b254b90;
  --primary-color-60: #1b254b60;
  --primary-color-50: #1b254b50;
  --primary-color-40: #1b254b40;
  --primary-color-30: #1b254b30;
  --primary-color-20: #1b254b20;
  --primary-color-10: #1b254b10;
  --primary-color-05: #1b254b10;
  --primary-bg-color:#f4f7fe;
  --primary-dark-color: #158fbb;
  --primary-dark-color-80: #158fbb80;
  --primary-dark-color-40: #158fbb40;
  --error-color: rgba(255, 0, 0, 0.38);
  --error-bg-color: rgba(6, 0, 32, 0.803);
  --grey-color: rgb(179, 179, 179);
  --light-grey-color: #d4d7e0;
  --border-grey-color: #e0e5f2;
  --placeholder-color: #a3aed0;
  --white: rgba(255, 255, 255);
  --black: rgba(0, 0, 0);
  --black-50: rgba(0, 0, 0, 0.5);
  --text-red-color: #f67272;
  --toastify-color-success: #5a7cf1;
  --toastify-color-error: #f67272;
  //------------FONTS------------//

  --primary-font: "Luckiest Guy", sans-serif;
  --secondary-font: "Karla", sans-serif;
}
